* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: #100e0c;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #d1ad4c;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #d1ad4c;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

body {
    color: #d1ad4c;
    font-family: Helvetica, Arial, sans-serif;
}

/* hero style start */

.hero {
    background-image: url("../pictures/hero-image-1.avif");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-form {
    background-color: #d1ad4c;
    padding: 20px;
    width: 500px;
    color: #a87d30;
    border: 3px solid #a87d30;
    position: absolute;
    bottom: 120px;
    right: 140px;
    
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #a87d30;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #a87d30;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #d1ad4c;
    background-color: #a87d30;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero style end */

footer {
    background: #a87d30;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #d1ad4c;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #d1ad4c
}


/* colour scheme
#024e76 = #a87d30
#fce138 = #d1ad4c
#39a6b2= #100e0c
*/

/* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

#logo {
    overflow: clip;
    max-width:15%;
    max-height:15%;

    
}
.intro {
    display: flex;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
}

.intro-two {
    display: flex;
    border-radius: 2px;
    justify-content: center;
}


header nav {
    margin: 12px 10px;
    border-style: groove;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}
body {
    display: block;
}

.background-color {
    background-color: beige;
}
.font-color {
    color: black;
}