* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #100e0c;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
    padding: 20px 35px;
    background-color: #100e0c;
    display: flex;
    justify-content: space-between;
}

header img {
    width: 15%;
    height: 15%;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #d1ad4c;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #d1ad4c;
}

header nav {
    float: right;
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 30px;
}

body {
    color: #d1ad4c;
    font-family: Helvetica, Arial, sans-serif;
}

#financing, #our-inventory, #reach-out {
    padding: 250px;
}
/* hero style start */

.hero {
    /* background-image: url("../pictures/hero-image-1.avif"); */
    background-color: #100e0c;
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
    align-items: flex-start;
}

.hero-form {
    background-color: #d1ad4c;
    padding: 20px;
    width: 500px;
    color: #a87d30;
    border: 3px solid #a87d30;
    position: absolute;
    bottom: 120px;
    right: 140px;
    
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid #a87d30;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #a87d30;
    width: 100%;
    margin-bottom: 15px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #d1ad4c;
    background-color: #a87d30;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}
/* hero style end */

.section-title {
    font-size: 48px;
    color: #a87d30;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
    scroll-margin-top: 30px;
}

.primary-border {
    border-color: #d1ad4c;
}

.secondary-border {
    border-color: #100e0c;
}

.intro {
    text-align: center;
    background-color: #100e0c;
}

.intro p {
    line-height: 1.7;
    color: #a87d30;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}

.steps {
    text-align: center;
    background: #100e0c;
}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #a87d30;
    font-size: 46px;
    margin-top: 10px;
}

.steps p {
    color:#a87d30;
    font-size: 23px;
}

.steps span {
    font-size: 38px;
}

.cars {
    text-align: center;
    background-color: #100e0c;
}

.automobile {
    /* width: 900px; */
    margin: 0 auto 30px auto;
    /*background: #a87d30; */
    color: #d1ad4c;
    overflow: auto;
}

.automobile img {
    width: 35%;
    float: left;
    min-height: 100;
}

.automobile-bio {
    padding: 35px;
    float: left;
    width: 65%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.automobile-bio h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.automobile-bio h4 {
    font-weight: lighter;
    font-size: 26px;
    margin-bottom: 25px;
}

.automobile-bio p {
    font-size: 17px;
    line-height: 1.3;
}

/* Reach out styles start */

.contact {
    background: #a87d30;
    text-align: center;
    background-color: #100e0c;
}

.contact-info iframe {
    width: 400px;
    height: 400px;
}

.contact-info div {
    width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3 {
    color: #a87d30;
    font-size: 32px;
}

.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
}

.contact-info a {
    color: #d1ad4c;
}

/* Reach out styles end */

footer {
    background: #a87d30;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #d1ad4c;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
    background-color: #a87d30;
    color: #100e0c;
}

footer a {
    color: #d1ad4c
}

/*MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li {
        font-size: 20px;
    }

    #financing, #our-inventory, #reach-out {
    padding: 180px;
    }

    header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 24px;
    }

    .cars img {
        padding-top: 115px;
    }
    footer h2, footer div {
        text-align: center;
        width:100%;
    }

    .section-title {
        width: 80%;
    }

    .cars {
        flex: 1 100%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {  
    body {
        max-width: 766px;
    }
    
    section {
        padding: 30px 15px;
    }

    .section-title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    
    .cars h3  {
        flex: 1 100%;
        text-align: center;
    }

    .cars info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .cars img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cars {
        flex: 100%;
    }

    .contact-info div {
        margin: 0 auto;
        text-align: center;
    }

    .automobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-left {
        text-align: center;
}

    .automobile-bio {
        padding: 35px;
        float: left;
        width: 100%;
}
    .text-right {
        text-align: center;
    }

    .second-section {
        display: flex;
        flex-direction: column-reverse;
        
    }

    #financing, #our-inventory, #reach-out {
    padding: 180px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    
    header {
        position: sticky;
        top: 0;
        overflow: hidden;
        padding: 20px 35px;
        background-color: #100e0c;
        display: flex;
        justify-content: space-between;
    }

    header img {
        width: 20%;
        height: 20%;
    }

    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: #d1ad4c;
        margin: 0;
        display: inline;
    }

    header a {
        text-decoration: none;
        color: #d1ad4c;
    }

    header nav {
        float: right;
        margin: 7px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    header nav ul li {
        display: inline;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 16px;
    }

    section {
        padding: 30px 15px;
    }

    .section-title {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .cars h3  {
        flex: 1 100%;
        text-align: center;
    }

    .cars info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .cars img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cars {
        flex: 100%;
    }

    .contact-info {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact-info iframe {
        display: flex;
        justify-content: center;
        flex: 1 100%;
        padding: auto;
    }

    .automobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-left {
        text-align: center;
}

    .automobile-bio {
        padding: 35px;
        float: left;
        width: 100%;
}
    .text-right {
        text-align: center;
    }

    .second-section {
        display: flex;
        flex-direction: column-reverse;
        
    }
    iframe {
        width: 50%;
        margin: 0 auto;
    }

    #financing, #our-inventory, #reach-out {
    padding-top: 180px;
    }
}

@media screen and (max-width: 574px) {
    
    header {
        position: sticky;
        top: 0;
        overflow: hidden;
        padding: 20px 35px;
        background-color: #100e0c;
        display: flex;
        justify-content: space-between;
    }

    header img {
        width: 20%;
        height: 20%;
    }

    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: #d1ad4c;
        margin: 0;
        display: inline;
    }

    header a {
        text-decoration: none;
        color: #d1ad4c;
    }

    header nav {
        float: right;
        margin: 7px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    header nav ul li {
        display: inline;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 9px;
    }

    section {
        padding: 30px 15px;
    }

    .section-title {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .cars h3  {
        flex: 1 100%;
        text-align: center;
    }

    .cars info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .cars img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cars {
        flex: 100%;
    }

    .contact-info {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact-info iframe {
        display: flex;
        justify-content: center;
        flex: 1 100%;
        padding: auto;
    }

    .automobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-left {
        text-align: center;
}

    .automobile-bio {
        padding: 35px;
        float: left;
        width: 100%;
}
    .text-right {
        text-align: center;
    }

    .second-section {
        display: flex;
        flex-direction: column-reverse;
        
    }
    iframe {
        width: 50%;
        margin: 0 auto;
    }

    #financing, #our-inventory, #reach-out {
    padding-top: 180px;
    }

    .contact {
        width:100%;
        background: #a87d30;
        text-align: center;
        background-color: #100e0c;
    }

    .contact-info iframe {
        width: 200px;
        height: 200px;
    }

    .contact-info div {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: white;
    }

    .contact-info h3 {
        color: #a87d30;
        font-size: 25px;
    }

    .contact-info p, .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 14px;
        font-style: normal;
    }

    .contact-info a {
        color: #d1ad4c;
    }

}

@media screen and (max-width: 344px) {
    
    header {
        position: sticky;
        top: 0;
        overflow: hidden;
        padding: 0;
        background-color: #100e0c;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header img {
        width: 40%;
        height: 20%;
    }

    header h1 {
        font-weight: bold;
        font-size: 36px;
        color: #d1ad4c;
        margin: 0;
        display: inline;
    }

    header a {
        text-decoration: none;
        color: #d1ad4c;
    }

    header nav {
        float: right;
        margin: 7px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    header nav ul li {
        display: inline;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-weight: lighter;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
    }

    section {
        padding: 30px 15px;
    }

    .section-title {
        font-size: 25px;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .cars h3  {
        flex: 1 100%;
        text-align: center;
    }

    .cars info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .cars img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .cars {
        flex: 100%;
    }

    .contact-info {
        margin: 0 auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .contact-info iframe {
        display: flex;
        justify-content: center;
        flex: 1 100%;
        padding: auto;
    }

    .automobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-left {
        text-align: center;
}

    .automobile-bio {
        padding: 35px;
        float: left;
        width: 100%;
}
    .text-right {
        text-align: center;
    }

    .second-section {
        display: flex;
        flex-direction: column-reverse;
        
    }
    iframe {
        width: 50%;
        margin: 0 auto;
    }

    #financing, #our-inventory, #reach-out {
    padding: 80px;
    padding-top:180px;
    }
    
    .contact {
        width:100%;
        background: #a87d30;
        text-align: center;
        background-color: #100e0c;
    }

    .contact-info iframe {
        width: 200px;
        height: 200px;
    }

    .contact-info div {
        width: 200px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        color: white;
    }

    .contact-info h3 {
        color: #a87d30;
        font-size: 25px;
        padding-top: 30px;
    }

    .contact-info p, .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 16px;
        font-style: normal;
    }

    .contact-info a {
        color: #d1ad4c;
    }

    .primary-border {
        border-bottom: #d1ad4c;
        border-bottom-style: solid;
    }
    
    .intro p {
        line-height: 1.7;
        color: #a87d30;
        font-size: 20px;
        margin: 0 auto;
        padding-left: 20px;
}
}
    /* .contact section {
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        background: #a87d30;
        text-align: center;
        background-color: #100e0c;
    }

    .contact-info iframe {
        size: 350px;
        padding: 100x;
        flex-direction: column;
        
    }

    .contact-info div {
        padding-right: 50px;
        width: 300px;
        height: 300px;
        vertical-align: top;
        text-align: left;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
    }
    

    .contact-info h3 {
        color: #a87d30;
        font-size: 32px;
    }

    .contact-info p, .contact-info address {
        margin: 20px 0;
        line-height: 1.5;
        font-size: 20px;
        font-style: normal;
    }

    .contact-info h3 {
        text-align: center;
    }

    .contact-info p {
        font-size: 12px;
    }
}
*/
/* colour scheme
#024e76 = #a87d30
#fce138 = #d1ad4c
#39a6b2= #100e0c
*/

/* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}

#logo {
    overflow: clip;
    max-width:15%;
    max-height:15%;

    
}
.intro {
    display: flex;
    border-style: solid;
    border-radius: 5px;
    justify-content: center;
}

.intro-two {
    display: flex;
    border-radius: 2px;
    justify-content: center;
}


header nav {
    margin: 12px 10px;
    border-style: groove;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    display: list-item;
    unicode-bidi: isolate;
}
body {
    display: block;
}

.background-color {
    background-color: beige;
}
.font-color {
    color: black;
} */